@import "./reset.css";
@import "node_modules/bulma/css/bulma.min.css";

main {
  // .page-container should float in the middle
}

.page {
  &-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    height: 100vh;
  }
  &-main {
    flex: 4 2 80%;
    display: flex;
    flex-flow: column nowrap;
  }
}

.sidebar {
  flex: 1 1 20%;
  min-width: 230px;
  border-right: 1px solid gray;
  padding: 1rem;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  &-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    &-text {
      font-size: 18px;
      font-weight: 700;
    }
  }
  &-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 0.5rem;
  }
  &-selectors {
    flex: 1 1 10%;
  }
  &-legend {
    cursor: pointer;
    flex: 1 10 90%;
    padding-top: 1rem;
    border-top: 1px solid gray;
  }
  &-stories {
    flex: 1 1 90%;
    padding-top: 1rem;
    border-top: 1px solid gray;
    .story {
      margin: 8px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-text {
        padding: 8px 16px 8px 0;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      &-delete {
        cursor: pointer;
        margin-left: 1rem;
        padding: 0 0.5rem;
        text-decoration: none;
        border: 1px solid #ddd;
      }
    }
    .selected {
      .story-text {
        text-decoration: underline;
      }
    }
    .new {
      cursor: pointer;
      padding: 0.5rem;
      font-weight: 700;
      text-align: center;
      border: 1px solid #ddd;
      &:hover {
        background-color: #eee;
      }
    }
  }
  &-buttons {
    flex: 1 1 10%;
    margin-top: 1rem;
    border-top: 1px solid gray;
    > * {
      margin-top: 1rem;
    }
  }
}

.chat {
  padding: 1rem 4rem;
  white-space: pre-wrap;
  overflow-y: scroll;
  flex: 1 1 90%;

  &-block {
    position: relative;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-flow: column nowrap;

    &-content {
    }
    &-correction {
      padding-top: 8px;
      margin-top: 8px;
      border-top: 1px solid gray;
    }

    & .-system {
      font-size: 1rem;
      line-height: normal;
    }
  }

  &-input {
    padding: 1rem 4rem;
    border-top: 1px solid gray;
    flex: 1 1 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      margin-right: 2rem;
    }

    & .button {
      margin-right: 1rem;
    }

    &-mic {
      width: 32px;
      height: 32px;
      &-wrapper {
        cursor: pointer;
        border-radius: 40px;
        background-color: white;
        padding: 16px;
        border: 1px solid gray;

        &:hover {
          background-color: #f5f5f5;
        }
        &.active {
          background-color: #79ffb3;
        }
        &.error {
          background-color: #ffcccc;
        }
      }
    }
  }
}

.tag {
  vertical-align: middle;
  margin-right: 0.75rem;
  margin-bottom: 4px;
}

.bot-right-float {
  position: absolute;
  bottom: 0;
  right: 0;
}
.loading-spinner {
  display: inline-block;
  width: 48px;
  height: 40px;
}
.loading-spinner:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.checkmark {
  display: inline-block;
  width: 34px;
  height: 34px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width: 6px;
  height: 18px;
  background-color: black;
  left: 14px;
  top: 6px;
}

.checkmark_kick {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: black;
  left: 9px;
  top: 18px;
}

.word {
  // Shows an underline that's not quite the size of the element
  position: relative;
  cursor: pointer;
  // &::after {
  // content: "";
  // position: absolute;
  // bottom: 0;
  // left: 12.5%;
  // // left: 0;
  // width: 75%;
  // border-bottom: 1px solid black;
  // }
}

.level-0 {
  color: #009917;
}
.level-1 {
  color: #008698;
}
.level-2 {
  color: #004fa3;
}
.level-3 {
  color: #64009e;
}
.level-4 {
  color: #9b0022;
}
.level-5 {
  color: black;
}

.flex {
  display: flex;
}

.dict-tooltip {
  background: initial;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  font-size: 14px;
  color: black;
  white-space: nowrap;
  position: relative;
  z-index: 10;

  // ellipsis
  // overflow: hidden;
  // text-overflow: ellipsis;
  &-definition {
    max-width: 500px;
  }
  &-definition:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;
    margin-bottom: 0.5rem;
  }

  &-word {
    margin-right: 1rem;
  }

  &-pinyin {
    font-size: 16px;
    font-weight: 700;
  }
  &-hsk {
    margin-left: 1rem;
  }

  &-translations {
    white-space: pre-wrap;
  }

  &-translation:not(:last-child) {
    margin-right: 4px;
    padding-right: 4px;
    border-right: 1px solid gray;
  }
}

.hoverable {
  .revealed-on-hover {
    display: none;
  }
  &:hover .revealed-on-hover {
    display: block;
  }
}
